<mat-table [dataSource]="dataSource" matSort>

  <!-- Наименование товара -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Наименование товара </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
  </ng-container>

  <!-- Стоимость товара -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Стоимость товара </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.price | currency }} </mat-cell>
  </ng-container>

  <!-- Количество товара -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Количество </mat-header-cell>
    <mat-cell *matCellDef="let row">
<!--      <button mat-icon-button (click)="decreaseQuantity(row)">-->
<!--        <mat-icon>remove</mat-icon>-->
<!--      </button>-->
      {{ row.quantity }}
<!--      <button mat-icon-button (click)="increaseQuantity(row)">-->
<!--        <mat-icon>add</mat-icon>-->
<!--      </button>-->
    </mat-cell>
  </ng-container>

  <!-- Общая сумма -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Общая сумма </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.total | currency }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
